n8n-workflows/1-follow-up-20min-template-base.json
{
  "updatedAt": "2026-07-04T21:47:16.545Z",
  "createdAt": "2026-07-04T15:31:04.038Z",
  "id": "vGw9CptvByJPNzrA",
  "name": "1- Follow UP 20min | Template Base",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1152,
        688
      ],
      "id": "6efdb0a2-9be1-40ca-b942-65b9b91c1afd",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ljYbL5381Q7ESWwB",
          "name": "openAI_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */10 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2160,
        464
      ],
      "id": "4b4027b6-6b80-4817-89db-4acf897bf07b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        784,
        448
      ],
      "id": "ab4c51c0-e174-4cca-9ef3-640ae6bbb3be",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        432
      ],
      "id": "10c785f7-25de-4717-9908-e6dabf3ea1aa",
      "name": "Loop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setarInformacoes').item.json.IDContaChatWoot }}/conversations/{{ $('setarInformacoes').item.json.IdConversaChatWoot }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        448
      ],
      "id": "9b12dde2-67f7-4f8a-a902-0e8c2b81ab8d",
      "name": "enviarMsgLead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wh1g2OYZ76hIr8Ic",
          "name": "chatwoot_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        448
      ],
      "id": "8524dc75-9fb4-4fa9-86bd-2be3319a901b",
      "name": "Wait",
      "webhookId": "8243198a-b748-42e3-8b03-cbba2bf27784"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        688
      ],
      "id": "dbe287d2-c8b9-4af4-adfc-b715ff80bc9b",
      "name": "memoriaLead",
      "credentials": {
        "postgres": {
          "id": "6fDv2f4OIb0C2Gew",
          "name": "postgres_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d57e2c51-88bf-4a96-a7dd-f2e0ef7fee4c",
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROSSEGUIR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "3bc09cc4-2b65-4bb4-88a9-032b121cf0a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "não prosseguir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -544,
        400
      ],
      "id": "5b841b98-71f5-4cd9-aa26-d815728d9341",
      "name": "verificarChatWoot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        560
      ],
      "id": "0e2a66e5-7a17-4ca1-a795-de851e6257a7",
      "name": "não fazer nada"
    },
    {
      "parameters": {
        "content": "# Aciona a cada 10 minutos",
        "height": 480,
        "width": 308,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2240,
        240
      ],
      "typeVersion": 1,
      "id": "022025b1-11c4-4773-8e66-03d42d404ba3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99f23408-3488-4b8d-811f-c5d2c0734591",
              "name": "whatsapp_lead",
              "value": "={{ $('PuxarDadosLead').item.json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "9d7b9cd7-ab8e-4959-bc1d-fbacb9db870e",
              "name": "IDContaChatWoot",
              "value": "={{ $json.id_conta_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bb450359-5e52-4041-9307-68ca0a8e9de7",
              "name": "IdConversaChatWoot",
              "value": "={{ $json.id_conversa_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bf9d30c9-e9c6-4e64-ab4b-53de229dcaee",
              "name": "idLeadChatWoot",
              "value": "={{ $json.id_lead_chatwoot }}",
              "type": "string"
            },
            {
              "id": "ca04c0d1-c42b-40a4-a7ae-35a28dc3990a",
              "name": "InboxIdChatWoot",
              "value": "={{ $json.inbox_id_chatwoot }}",
              "type": "string"
            },
            {
              "id": "53dec4be-fa20-4e2b-80eb-827925dab32c",
              "name": "url_chatwoot",
              "value": "https://csp-nexora-chatwoot.4baehj.easypanel.host/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        496
      ],
      "id": "25b50e4d-6bf2-4d87-a495-a3f8c8a896f3",
      "name": "setarInformacoes"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "crm_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "minutos_ultima_mensagem",
              "condition": "gte",
              "keyValue": "20"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1776,
        464
      ],
      "id": "cffade33-2ced-41c3-b8ca-73ad6a8d134a",
      "name": "PuxarDadosLead",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "yNRi9WeuGdi3UzON",
          "name": "supabase_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "crm_leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_1",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        448
      ],
      "id": "80f58d3f-291f-45e6-8f2d-f5be389d040e",
      "name": "FollowUP_1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "yNRi9WeuGdi3UzON",
          "name": "supabase_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Histórico de conversa: {{ JSON.stringify($json.messages, null, 2) }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é **Alice**, secretária da **Dra. Juliana Prado**, nutricionista especializada em **emagrecimento adulto e infantil**.\nVocê é especialista em follow-up natural e leve para retomar conversas no WhatsApp.\n\n## FUNÇÃO\n\n-   Ler as últimas mensagens trocadas entre você e o cliente.\n-   Entender em que ponto a conversa parou.\n-   Criar **uma única mensagem**, simples, natural e humanizada, para retomar o contato.\n-   Estimular a resposta de forma suave, mostrando que está disponível para ajudar.\n\n## REGRAS DE MENSAGEM\n\n-   Nunca se apresente, nunca peça nome ou dados já informados.\n-   Seja breve, como uma conversa normal no WhatsApp.\n-   Use o nome do cliente, se estiver disponível.\n-   Não pressione, não cobre retorno e não mencione tempo de ausência.\n-   Nunca repita a última pergunta ou informação enviada.\n-   Se a sua última mensagem tinha link, instrução ou orientação jurídica, não repita.\n-   Retome o assunto de forma simpática e profissional, com naturalidade.\n-   Emojis só se fizer sentido e sempre de maneira moderada.\n-   Passe segurança e disponibilidade para ajudar.\n-   Data e hora de agora: {{ $now }}\n\n## EXEMPLOS DE MENSAGENS\nExemplo 1:\n\"Você conseguiu ver a última mensagem que te mandei?\"\n\nExemplo 2:\n\"Posso te ajudar com alguma dúvida sobre a consulta?\"\n\nExemplo 3:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 4:\n\"Olá, esta ai ainda?\"\n\nExemplo 5:\n\"Chegou a dar uma olhadinha no que te enviei?\"\n\nExemplo 6:\n\"Olá, chegou a ver o que te mandei?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1184,
        448
      ],
      "id": "f81d7633-b9c7-44bd-83f1-20a9b5c247df",
      "name": "Follow UP 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d68f79e-5b79-4cb3-b19d-0accbd6cd8ad",
              "leftValue": "={{ $json.data_agendamento }}",
              "rightValue": "Feito",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1312,
        528
      ],
      "id": "6a751dda-4386-421e-a725-d690c14c02ec",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d308b9b-1224-42c2-87b0-89b46e273350",
              "leftValue": "={{ $json.follow_up_1 }}",
              "rightValue": "Feito",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        528
      ],
      "id": "13f4edb2-9c3d-4e26-b24d-b0c85a4620ea",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Puxa os leads da planilha com mais de 20 minutos sem resposta",
        "height": 480,
        "width": 428,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        240
      ],
      "typeVersion": 1,
      "id": "80fae738-bae8-489d-8a83-6cb5cce11d24",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Verifica se a coluna \"data_agendamento\" está vazia. Se tiver, segue.",
        "height": 480,
        "width": 368,
        "color": "#565448"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        240
      ],
      "typeVersion": 1,
      "id": "f8ec5b19-5f0d-489e-9d65-b48f7c42be78",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Verifica se o \"Follow UP 1\" não foi realizado",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        240
      ],
      "typeVersion": 1,
      "id": "4a181ce7-fb4b-4ddd-867b-40219b033a7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Verifica se o ID da conversa existe para enviar pelo Chatwoot",
        "height": 480,
        "width": 564
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        240
      ],
      "typeVersion": 1,
      "id": "0378db3f-03cf-4e18-b823-3addc5c3fab4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Setar informações\n## Importante: abra esse node e coloque a URL do chatwoot",
        "height": 480,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        240
      ],
      "typeVersion": 1,
      "id": "038b19a0-0eda-4aff-85e7-54e5b2c48425",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# FOLLOW UP DE 20 MINUTOS",
        "height": 592,
        "width": 1876,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        240
      ],
      "typeVersion": 1,
      "id": "fbfc6bf9-3c36-4494-b2c1-9084a1069f03",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1360,
        688
      ],
      "id": "b54e2353-8a75-4acc-a67e-3fcd507c9202",
      "name": "memoriaLead1",
      "credentials": {
        "postgres": {
          "id": "6fDv2f4OIb0C2Gew",
          "name": "postgres_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "content": "# Importante: abra esse node e coloque a URL do chatwoot",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "42ac5803-f338-4527-9745-4475d20ab2fb",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Follow UP 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "PuxarDadosLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Follow UP 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarMsgLead": {
      "main": [
        [
          {
            "node": "FollowUP_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificarChatWoot": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "não fazer nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarDadosLead": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FollowUP_1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow UP 1": {
      "main": [
        [
          {
            "node": "enviarMsgLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "verificarChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead1": {
      "ai_memory": [
        [
          {
            "node": "Follow UP 1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
  "activeVersionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
  "versionCounter": 8,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-04T15:31:04.038Z",
      "createdAt": "2026-07-04T15:31:04.038Z",
      "role": "workflow:owner",
      "workflowId": "vGw9CptvByJPNzrA",
      "projectId": "aq6TpjIETv0FyaRE",
      "project": {
        "updatedAt": "2026-07-02T11:51:25.238Z",
        "createdAt": "2026-07-02T11:48:24.954Z",
        "id": "aq6TpjIETv0FyaRE",
        "name": "CSP Nexora <cspnexora@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-07-04T15:22:50.184Z",
      "createdAt": "2026-07-04T15:22:50.184Z",
      "id": "SzKx4vYLGfJyY8QT",
      "name": "templatebase"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-15T13:58:24.171Z",
    "createdAt": "2026-07-04T21:47:16.547Z",
    "versionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
    "workflowId": "vGw9CptvByJPNzrA",
    "nodes": [
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1152,
          688
        ],
        "id": "6efdb0a2-9be1-40ca-b942-65b9b91c1afd",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "ljYbL5381Q7ESWwB",
            "name": "openAI_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */10 8-21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2160,
          464
        ],
        "id": "4b4027b6-6b80-4817-89db-4acf897bf07b",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          784,
          448
        ],
        "id": "ab4c51c0-e174-4cca-9ef3-640ae6bbb3be",
        "name": "Chat Memory Manager"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          480,
          432
        ],
        "id": "10c785f7-25de-4717-9908-e6dabf3ea1aa",
        "name": "Loop"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setarInformacoes').item.json.IDContaChatWoot }}/conversations/{{ $('setarInformacoes').item.json.IdConversaChatWoot }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "={{ $json.output }}"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          448
        ],
        "id": "9b12dde2-67f7-4f8a-a902-0e8c2b81ab8d",
        "name": "enviarMsgLead",
        "credentials": {
          "httpHeaderAuth": {
            "id": "wh1g2OYZ76hIr8Ic",
            "name": "chatwoot_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2064,
          448
        ],
        "id": "8524dc75-9fb4-4fa9-86bd-2be3319a901b",
        "name": "Wait",
        "webhookId": "8243198a-b748-42e3-8b03-cbba2bf27784"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          800,
          688
        ],
        "id": "dbe287d2-c8b9-4af4-adfc-b715ff80bc9b",
        "name": "memoriaLead",
        "credentials": {
          "postgres": {
            "id": "6fDv2f4OIb0C2Gew",
            "name": "postgres_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d57e2c51-88bf-4a96-a7dd-f2e0ef7fee4c",
                      "leftValue": "={{ $json.id_conta_chatwoot }}",
                      "rightValue": "null",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PROSSEGUIR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.id_conta_chatwoot }}",
                      "rightValue": "null",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "3bc09cc4-2b65-4bb4-88a9-032b121cf0a3"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "não prosseguir"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -544,
          400
        ],
        "id": "5b841b98-71f5-4cd9-aa26-d815728d9341",
        "name": "verificarChatWoot"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -272,
          560
        ],
        "id": "0e2a66e5-7a17-4ca1-a795-de851e6257a7",
        "name": "não fazer nada"
      },
      {
        "parameters": {
          "content": "# Aciona a cada 10 minutos",
          "height": 480,
          "width": 308,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2240,
          240
        ],
        "typeVersion": 1,
        "id": "022025b1-11c4-4773-8e66-03d42d404ba3",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "99f23408-3488-4b8d-811f-c5d2c0734591",
                "name": "whatsapp_lead",
                "value": "={{ $('PuxarDadosLead').item.json.whatsapp_lead }}",
                "type": "string"
              },
              {
                "id": "9d7b9cd7-ab8e-4959-bc1d-fbacb9db870e",
                "name": "IDContaChatWoot",
                "value": "={{ $json.id_conta_chatwoot }}",
                "type": "string"
              },
              {
                "id": "bb450359-5e52-4041-9307-68ca0a8e9de7",
                "name": "IdConversaChatWoot",
                "value": "={{ $json.id_conversa_chatwoot }}",
                "type": "string"
              },
              {
                "id": "bf9d30c9-e9c6-4e64-ab4b-53de229dcaee",
                "name": "idLeadChatWoot",
                "value": "={{ $json.id_lead_chatwoot }}",
                "type": "string"
              },
              {
                "id": "ca04c0d1-c42b-40a4-a7ae-35a28dc3990a",
                "name": "InboxIdChatWoot",
                "value": "={{ $json.inbox_id_chatwoot }}",
                "type": "string"
              },
              {
                "id": "53dec4be-fa20-4e2b-80eb-827925dab32c",
                "name": "url_chatwoot",
                "value": "https://csp-nexora-chatwoot.4baehj.easypanel.host/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          112,
          496
        ],
        "id": "25b50e4d-6bf2-4d87-a495-a3f8c8a896f3",
        "name": "setarInformacoes"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "crm_leads",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "minutos_ultima_mensagem",
                "condition": "gte",
                "keyValue": "20"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1776,
          464
        ],
        "id": "cffade33-2ced-41c3-b8ca-73ad6a8d134a",
        "name": "PuxarDadosLead",
        "alwaysOutputData": false,
        "credentials": {
          "supabaseApi": {
            "id": "yNRi9WeuGdi3UzON",
            "name": "supabase_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "crm_leads",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "whatsapp_lead",
                "condition": "eq",
                "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "follow_up_1",
                "fieldValue": "={{ $now }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1824,
          448
        ],
        "id": "80f58d3f-291f-45e6-8f2d-f5be389d040e",
        "name": "FollowUP_1",
        "alwaysOutputData": false,
        "credentials": {
          "supabaseApi": {
            "id": "yNRi9WeuGdi3UzON",
            "name": "supabase_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Histórico de conversa: {{ JSON.stringify($json.messages, null, 2) }}",
          "options": {
            "systemMessage": "=## IDENTIDADE\n\nVocê é **Alice**, secretária da **Dra. Juliana Prado**, nutricionista especializada em **emagrecimento adulto e infantil**.\nVocê é especialista em follow-up natural e leve para retomar conversas no WhatsApp.\n\n## FUNÇÃO\n\n-   Ler as últimas mensagens trocadas entre você e o cliente.\n-   Entender em que ponto a conversa parou.\n-   Criar **uma única mensagem**, simples, natural e humanizada, para retomar o contato.\n-   Estimular a resposta de forma suave, mostrando que está disponível para ajudar.\n\n## REGRAS DE MENSAGEM\n\n-   Nunca se apresente, nunca peça nome ou dados já informados.\n-   Seja breve, como uma conversa normal no WhatsApp.\n-   Use o nome do cliente, se estiver disponível.\n-   Não pressione, não cobre retorno e não mencione tempo de ausência.\n-   Nunca repita a última pergunta ou informação enviada.\n-   Se a sua última mensagem tinha link, instrução ou orientação jurídica, não repita.\n-   Retome o assunto de forma simpática e profissional, com naturalidade.\n-   Emojis só se fizer sentido e sempre de maneira moderada.\n-   Passe segurança e disponibilidade para ajudar.\n-   Data e hora de agora: {{ $now }}\n\n## EXEMPLOS DE MENSAGENS\nExemplo 1:\n\"Você conseguiu ver a última mensagem que te mandei?\"\n\nExemplo 2:\n\"Posso te ajudar com alguma dúvida sobre a consulta?\"\n\nExemplo 3:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 4:\n\"Olá, esta ai ainda?\"\n\nExemplo 5:\n\"Chegou a dar uma olhadinha no que te enviei?\"\n\nExemplo 6:\n\"Olá, chegou a ver o que te mandei?\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          1184,
          448
        ],
        "id": "f81d7633-b9c7-44bd-83f1-20a9b5c247df",
        "name": "Follow UP 1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8d68f79e-5b79-4cb3-b19d-0accbd6cd8ad",
                "leftValue": "={{ $json.data_agendamento }}",
                "rightValue": "Feito",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1312,
          528
        ],
        "id": "6a751dda-4386-421e-a725-d690c14c02ec",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8d308b9b-1224-42c2-87b0-89b46e273350",
                "leftValue": "={{ $json.follow_up_1 }}",
                "rightValue": "Feito",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -912,
          528
        ],
        "id": "13f4edb2-9c3d-4e26-b24d-b0c85a4620ea",
        "name": "If"
      },
      {
        "parameters": {
          "content": "# Puxa os leads da planilha com mais de 20 minutos sem resposta",
          "height": 480,
          "width": 428,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1904,
          240
        ],
        "typeVersion": 1,
        "id": "80fae738-bae8-489d-8a83-6cb5cce11d24",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "# Verifica se a coluna \"data_agendamento\" está vazia. Se tiver, segue.",
          "height": 480,
          "width": 368,
          "color": "#565448"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1440,
          240
        ],
        "typeVersion": 1,
        "id": "f8ec5b19-5f0d-489e-9d65-b48f7c42be78",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "# Verifica se o \"Follow UP 1\" não foi realizado",
          "height": 480,
          "width": 400,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1040,
          240
        ],
        "typeVersion": 1,
        "id": "4a181ce7-fb4b-4ddd-867b-40219b033a7f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "# Verifica se o ID da conversa existe para enviar pelo Chatwoot",
          "height": 480,
          "width": 564
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -608,
          240
        ],
        "typeVersion": 1,
        "id": "0378db3f-03cf-4e18-b823-3addc5c3fab4",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "# Setar informações\n## Importante: abra esse node e coloque a URL do chatwoot",
          "height": 480,
          "width": 352,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -16,
          240
        ],
        "typeVersion": 1,
        "id": "038b19a0-0eda-4aff-85e7-54e5b2c48425",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "# FOLLOW UP DE 20 MINUTOS",
          "height": 592,
          "width": 1876,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          384,
          240
        ],
        "typeVersion": 1,
        "id": "fbfc6bf9-3c36-4494-b2c1-9084a1069f03",
        "name": "Sticky Note58"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1360,
          688
        ],
        "id": "b54e2353-8a75-4acc-a67e-3fcd507c9202",
        "name": "memoriaLead1",
        "credentials": {
          "postgres": {
            "id": "6fDv2f4OIb0C2Gew",
            "name": "postgres_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "content": "# Importante: abra esse node e coloque a URL do chatwoot",
          "height": 240,
          "width": 320,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "42ac5803-f338-4527-9745-4475d20ab2fb",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Follow UP 1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "PuxarDadosLead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory Manager": {
        "main": [
          [
            {
              "node": "Follow UP 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop": {
        "main": [
          [],
          [
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "enviarMsgLead": {
        "main": [
          [
            {
              "node": "FollowUP_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "memoriaLead": {
        "ai_memory": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "verificarChatWoot": {
        "main": [
          [
            {
              "node": "setarInformacoes",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "não fazer nada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setarInformacoes": {
        "main": [
          [
            {
              "node": "Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PuxarDadosLead": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FollowUP_1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Follow UP 1": {
        "main": [
          [
            {
              "node": "enviarMsgLead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "verificarChatWoot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "memoriaLead1": {
        "ai_memory": [
          [
            {
              "node": "Follow UP 1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "CSP Nexora",
    "name": "Version 4d1fcac9",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-04T21:48:31.286Z",
        "id": 20,
        "workflowId": "vGw9CptvByJPNzrA",
        "versionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
        "event": "activated",
        "userId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      },
      {
        "createdAt": "2026-07-15T12:40:46.899Z",
        "id": 111,
        "workflowId": "vGw9CptvByJPNzrA",
        "versionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
        "event": "deactivated",
        "userId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      },
      {
        "createdAt": "2026-07-15T13:58:24.168Z",
        "id": 124,
        "workflowId": "vGw9CptvByJPNzrA",
        "versionId": "4d1fcac9-1980-4b22-af74-49adea1e1461",
        "event": "activated",
        "userId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      }
    ]
  }
}
