n8n-workflows/6-eventos-agenda-propria-csp-nexora.json
{
  "updatedAt": "2026-07-18T17:46:45.707Z",
  "createdAt": "2026-07-12T19:01:29.399Z",
  "id": "HlsbghQRkVelOyLi",
  "name": "6- Eventos Agenda Própria | CSP Nexora",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# CANCELAR AGENDAMENTO",
        "height": 256,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        432
      ],
      "typeVersion": 1,
      "id": "9ed89451-79ae-4968-9c93-63259ffed702",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-id/{{ $json.id_agendamento }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        528
      ],
      "id": "2026eb9d-2074-4a50-b72f-3a5cde475046",
      "name": "Authorization",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fU5u8L0Q3slWdEqv",
          "name": "supabase_service_role_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "content": "# VER HORÁRIOS",
        "height": 256,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -176
      ],
      "typeVersion": 1,
      "id": "680ad406-3827-4403-97c6-d0ed555d572e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-horarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.data_consulta }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -80
      ],
      "id": "4dca4db7-662f-487d-a26d-bc4f89a0e4b2",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fU5u8L0Q3slWdEqv",
          "name": "supabase_service_role_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "content": "# CRIAR AGENDAMENTO",
        "height": 240,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -480
      ],
      "typeVersion": 1,
      "id": "dba1e5c2-0ae5-405e-ba54-203b540b0c88",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.whatsapp_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -416
      ],
      "id": "e8dde802-9316-447e-ac53-f0e6b4fb24c0",
      "name": "BuscarLeadId",
      "credentials": {
        "supabaseApi": {
          "id": "yNRi9WeuGdi3UzON",
          "name": "supabase_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{ $json.lead_id }}\",\n  \"data\": \"{{ $json.data }}\",\n  \"hora\": \"{{ $json.hora }}\",\n  \"assunto\": \"{{ $json.assunto }}\",\n  \"observacoes\": \"{{ $json.observacoes }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        -416
      ],
      "id": "0ded4205-5f47-49e3-b8e8-8b377cc0966b",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fU5u8L0Q3slWdEqv",
          "name": "supabase_service_role_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "whatsapp_lead"
            },
            {
              "name": "evento"
            },
            {
              "name": "inicio_reuniao"
            },
            {
              "name": "final_reuniao"
            },
            {
              "name": "assunto"
            },
            {
              "name": "id_agendamento"
            },
            {
              "name": "data_consulta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "653e9870-cc0e-42e8-b9a4-9b3712351f3b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6e6bc92-3416-4d21-8827-163c1c21afc7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e6521765-a352-4931-a743-daaea4ea2fd1",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VerHorarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "77ba7721-d99a-42bd-97a1-3738b964d097",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3420c334-db55-4451-a993-9a778a0ee05c",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        -32
      ],
      "id": "cb08bd8a-6346-44d8-95c2-48d4f94b9068",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# REAGENDAR",
        "height": 224,
        "width": 688,
        "color": "#7A9FF5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        144
      ],
      "id": "61036f2c-1e78-42d9-bb99-b0d891018ea8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.whatsapp_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "39e93116-5242-42ed-8b22-12ce5c04e152",
      "name": "BuscarLeadIdReagendamento",
      "credentials": {
        "supabaseApi": {
          "id": "yNRi9WeuGdi3UzON",
          "name": "supabase_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inicioReuniaoOriginal = $('When Executed by Another Workflow').first().json.inicio_reuniao;\nconst idAgendamento = $('When Executed by Another Workflow').first().json.id_agendamento;\n\nconst dataObjOriginal = new Date(inicioReuniaoOriginal);\nconst mes = String(dataObjOriginal.getMonth() + 1).padStart(2, '0');\nconst dia = String(dataObjOriginal.getDate()).padStart(2, '0');\nconst hora = String(dataObjOriginal.getHours()).padStart(2, '0');\nconst minuto = String(dataObjOriginal.getMinutes()).padStart(2, '0');\n\nconst hoje = new Date();\nconst anoAtual = hoje.getFullYear();\n\nlet dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T${hora}:${minuto}:00`);\n\nconst hojeSemHora = new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate());\nconst dataCorrigidaSemHora = new Date(dataCorrigida.getFullYear(), dataCorrigida.getMonth(), dataCorrigida.getDate());\n\nif (dataCorrigidaSemHora < hojeSemHora) {\n  dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T${hora}:${minuto}:00`);\n}\n\nconst anoFinal = dataCorrigida.getFullYear();\nconst data = `${anoFinal}-${mes}-${dia}`;\nconst horaFinal = `${hora}:${minuto}`;\n\nreturn [{\n  json: {\n    id_agendamento: idAgendamento,\n    data,\n    hora: horaFinal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ],
      "id": "5ed21bdc-bc81-4a0e-9105-0eb987670b4b",
      "name": "SepararDataHoraReagendamento"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-id/{{ $json.id_agendamento }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": \"{{ $json.data }}\",\n  \"hora\": \"{{ $json.hora }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        208
      ],
      "id": "66227638-e491-4549-a418-bb052ad9764d",
      "name": "HTTP Request Reagendamento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fU5u8L0Q3slWdEqv",
          "name": "supabase_service_role_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst dataConsultaInput = inputData.data_consulta;\n\nfunction formatarData(d) {\n  const ano = d.getFullYear();\n  const mes = String(d.getMonth() + 1).padStart(2, '0');\n  const dia = String(d.getDate()).padStart(2, '0');\n  return `${ano}-${mes}-${dia}`;\n}\n\nfunction hojeSaoPaulo() {\n  const partes = new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Sao_Paulo' })\n    .formatToParts(new Date());\n  const ano = partes.find(p => p.type === 'year').value;\n  const mes = partes.find(p => p.type === 'month').value;\n  const dia = partes.find(p => p.type === 'day').value;\n  return new Date(`${ano}-${mes}-${dia}T00:00:00`);\n}\n\nif (dataConsultaInput) {\n  const [, mes, dia] = dataConsultaInput.split('-');\n  const hoje = hojeSaoPaulo();\n  const anoAtual = hoje.getFullYear();\n  let dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T00:00:00`);\n  if (dataCorrigida < hoje) {\n    dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T00:00:00`);\n  }\n  return [{ json: { ...inputData, data_consulta: formatarData(dataCorrigida) } }];\n}\n\nconst diasResultado = [];\nconst hoje = hojeSaoPaulo();\nlet offset = 1;\nwhile (diasResultado.length < 3) {\n  const candidata = new Date(hoje);\n  candidata.setDate(hoje.getDate() + offset);\n  const diaSemana = candidata.getDay(); // 0 = domingo, 6 = sábado\n  if (diaSemana !== 0 && diaSemana !== 6) {\n    diasResultado.push({ json: { ...inputData, data_consulta: formatarData(candidata) } });\n  }\n  offset++;\n}\nreturn diasResultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -80
      ],
      "id": "7fd12545-178a-4af6-9869-0fcf58c8a9d9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const inicioReuniaoOriginal = $('When Executed by Another Workflow').first().json.inicio_reuniao;\nconst assunto = $('When Executed by Another Workflow').first().json.assunto;\n\nconst dataObjOriginal = new Date(inicioReuniaoOriginal);\nconst mes = String(dataObjOriginal.getMonth() + 1).padStart(2, '0');\nconst dia = String(dataObjOriginal.getDate()).padStart(2, '0');\nconst hora = String(dataObjOriginal.getHours()).padStart(2, '0');\nconst minuto = String(dataObjOriginal.getMinutes()).padStart(2, '0');\n\nconst hoje = new Date();\nconst anoAtual = hoje.getFullYear();\n\nlet dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T${hora}:${minuto}:00`);\n\nconst hojeSemHora = new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate());\nconst dataCorrigidaSemHora = new Date(dataCorrigida.getFullYear(), dataCorrigida.getMonth(), dataCorrigida.getDate());\n\nif (dataCorrigidaSemHora < hojeSemHora) {\n  dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T${hora}:${minuto}:00`);\n}\n\nconst anoFinal = dataCorrigida.getFullYear();\nconst data = `${anoFinal}-${mes}-${dia}`;\nconst horaFinal = `${hora}:${minuto}`;\n\nreturn [{\n  json: {\n    lead_id: $('BuscarLeadId').first().json.id,\n    data,\n    hora: horaFinal,\n    assunto: assunto || null,\n    observacoes: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -416
      ],
      "id": "56402b26-ba91-4948-86e5-4128256f4291",
      "name": "SepararDataHora"
    },
    {
      "parameters": {
        "jsCode": "const todosOsDias = $input.all().map(item => item.json);\nconst resumo = todosOsDias\n  .filter(dia => dia.data)\n  .map(dia => ({\n    data: dia.data,\n    horarios: dia.slots_disponiveis || []\n  }));\nreturn [{\n  json: {\n    dias_disponiveis: resumo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -80
      ],
      "id": "dfbe23bb-b59d-40b7-a82e-a6f38aac947a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "crm_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_agendamento",
              "fieldValue": "={{ $json.agendamento.data_hora_inicio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        -432
      ],
      "id": "2ef895b8-2937-4a7e-ac42-67367cb06f5e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "yNRi9WeuGdi3UzON",
          "name": "supabase_cspnexora"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f32dcc2d-3c24-45c5-bcb7-2ad217206c7f",
              "leftValue": "={{ $json.situacao }}",
              "rightValue": "AGENDAMENTO_CRIADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        -416
      ],
      "id": "f3c72723-c5b5-4045-a850-e24e5bae8f24",
      "name": "If"
    }
  ],
  "connections": {
    "BuscarLeadId": {
      "main": [
        [
          {
            "node": "SepararDataHora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "BuscarLeadId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BuscarLeadIdReagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarLeadIdReagendamento": {
      "main": [
        [
          {
            "node": "SepararDataHoraReagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SepararDataHoraReagendamento": {
      "main": [
        [
          {
            "node": "HTTP Request Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SepararDataHora": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "whatsapp_lead": "5561999990001",
          "evento": "VerHorarios",
          "data_consulta": "2026-07-24",
          "inicio_reuniao": "",
          "final_reuniao": "",
          "assunto": "",
          "id_agendamento": ""
        }
      }
    ]
  },
  "versionId": "57716a1b-0aa2-4605-a503-8d9b42cadc0b",
  "activeVersionId": "57716a1b-0aa2-4605-a503-8d9b42cadc0b",
  "versionCounter": 280,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-12T19:01:29.399Z",
      "createdAt": "2026-07-12T19:01:29.399Z",
      "role": "workflow:owner",
      "workflowId": "HlsbghQRkVelOyLi",
      "projectId": "aq6TpjIETv0FyaRE",
      "project": {
        "updatedAt": "2026-07-02T11:51:25.238Z",
        "createdAt": "2026-07-02T11:48:24.954Z",
        "id": "aq6TpjIETv0FyaRE",
        "name": "CSP Nexora <cspnexora@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-15T13:48:58.829Z",
    "createdAt": "2026-07-15T13:48:57.676Z",
    "versionId": "57716a1b-0aa2-4605-a503-8d9b42cadc0b",
    "workflowId": "HlsbghQRkVelOyLi",
    "nodes": [
      {
        "parameters": {
          "content": "# CANCELAR AGENDAMENTO",
          "height": 256,
          "width": 352
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          768,
          432
        ],
        "typeVersion": 1,
        "id": "9ed89451-79ae-4968-9c93-63259ffed702",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-id/{{ $json.id_agendamento }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          896,
          528
        ],
        "id": "2026eb9d-2074-4a50-b72f-3a5cde475046",
        "name": "Authorization",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fU5u8L0Q3slWdEqv",
            "name": "supabase_service_role_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "content": "# VER HORÁRIOS",
          "height": 256,
          "width": 848,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          752,
          -176
        ],
        "typeVersion": 1,
        "id": "680ad406-3827-4403-97c6-d0ed555d572e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "url": "https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-horarios",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "data",
                "value": "={{ $json.data_consulta }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1088,
          -80
        ],
        "id": "4dca4db7-662f-487d-a26d-bc4f89a0e4b2",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fU5u8L0Q3slWdEqv",
            "name": "supabase_service_role_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "content": "# CRIAR AGENDAMENTO",
          "height": 240,
          "width": 1104
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          752,
          -480
        ],
        "typeVersion": 1,
        "id": "dba1e5c2-0ae5-405e-ba54-203b540b0c88",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "leads",
          "filters": {
            "conditions": [
              {
                "keyName": "phone",
                "condition": "eq",
                "keyValue": "={{ $json.whatsapp_lead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          816,
          -416
        ],
        "id": "e8dde802-9316-447e-ac53-f0e6b4fb24c0",
        "name": "BuscarLeadId",
        "credentials": {
          "supabaseApi": {
            "id": "yNRi9WeuGdi3UzON",
            "name": "supabase_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"lead_id\": \"{{ $json.lead_id }}\",\n  \"data\": \"{{ $json.data }}\",\n  \"hora\": \"{{ $json.hora }}\",\n  \"assunto\": \"{{ $json.assunto }}\",\n  \"observacoes\": \"{{ $json.observacoes }}\"\n}",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1232,
          -416
        ],
        "id": "0ded4205-5f47-49e3-b8e8-8b377cc0966b",
        "name": "HTTP Request1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fU5u8L0Q3slWdEqv",
            "name": "supabase_service_role_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "whatsapp_lead"
              },
              {
                "name": "evento"
              },
              {
                "name": "inicio_reuniao"
              },
              {
                "name": "final_reuniao"
              },
              {
                "name": "assunto"
              },
              {
                "name": "id_agendamento"
              },
              {
                "name": "data_consulta"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "653e9870-cc0e-42e8-b9a4-9b3712351f3b",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "agendamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c6e6bc92-3416-4d21-8827-163c1c21afc7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "agendamento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e6521765-a352-4931-a743-daaea4ea2fd1",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "VerHorarios",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "VerHorarios"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "77ba7721-d99a-42bd-97a1-3738b964d097",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "reagendamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "reagendamento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3420c334-db55-4451-a993-9a778a0ee05c",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "cancelamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelamento"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          336,
          -32
        ],
        "id": "cb08bd8a-6346-44d8-95c2-48d4f94b9068",
        "name": "Switch"
      },
      {
        "parameters": {
          "content": "# REAGENDAR",
          "height": 224,
          "width": 688,
          "color": "#7A9FF5"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          752,
          144
        ],
        "id": "61036f2c-1e78-42d9-bb99-b0d891018ea8",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "leads",
          "filters": {
            "conditions": [
              {
                "keyName": "phone",
                "condition": "eq",
                "keyValue": "={{ $json.whatsapp_lead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          208
        ],
        "id": "39e93116-5242-42ed-8b22-12ce5c04e152",
        "name": "BuscarLeadIdReagendamento",
        "credentials": {
          "supabaseApi": {
            "id": "yNRi9WeuGdi3UzON",
            "name": "supabase_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const inicioReuniaoOriginal = $('When Executed by Another Workflow').first().json.inicio_reuniao;\nconst idAgendamento = $('When Executed by Another Workflow').first().json.id_agendamento;\n\nconst dataObjOriginal = new Date(inicioReuniaoOriginal);\nconst mes = String(dataObjOriginal.getMonth() + 1).padStart(2, '0');\nconst dia = String(dataObjOriginal.getDate()).padStart(2, '0');\nconst hora = String(dataObjOriginal.getHours()).padStart(2, '0');\nconst minuto = String(dataObjOriginal.getMinutes()).padStart(2, '0');\n\nconst hoje = new Date();\nconst anoAtual = hoje.getFullYear();\n\nlet dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T${hora}:${minuto}:00`);\n\nconst hojeSemHora = new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate());\nconst dataCorrigidaSemHora = new Date(dataCorrigida.getFullYear(), dataCorrigida.getMonth(), dataCorrigida.getDate());\n\nif (dataCorrigidaSemHora < hojeSemHora) {\n  dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T${hora}:${minuto}:00`);\n}\n\nconst anoFinal = dataCorrigida.getFullYear();\nconst data = `${anoFinal}-${mes}-${dia}`;\nconst horaFinal = `${hora}:${minuto}`;\n\nreturn [{\n  json: {\n    id_agendamento: idAgendamento,\n    data,\n    hora: horaFinal\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          208
        ],
        "id": "5ed21bdc-bc81-4a0e-9105-0eb987670b4b",
        "name": "SepararDataHoraReagendamento"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://visjhadwewvxnqwekpdk.supabase.co/functions/v1/agendamentos-id/{{ $json.id_agendamento }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": \"{{ $json.data }}\",\n  \"hora\": \"{{ $json.hora }}\"\n}",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1232,
          208
        ],
        "id": "66227638-e491-4549-a418-bb052ad9764d",
        "name": "HTTP Request Reagendamento",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fU5u8L0Q3slWdEqv",
            "name": "supabase_service_role_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const inputData = $input.first().json;\nconst dataConsultaInput = inputData.data_consulta;\n\nfunction formatarData(d) {\n  const ano = d.getFullYear();\n  const mes = String(d.getMonth() + 1).padStart(2, '0');\n  const dia = String(d.getDate()).padStart(2, '0');\n  return `${ano}-${mes}-${dia}`;\n}\n\nfunction hojeSaoPaulo() {\n  const partes = new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Sao_Paulo' })\n    .formatToParts(new Date());\n  const ano = partes.find(p => p.type === 'year').value;\n  const mes = partes.find(p => p.type === 'month').value;\n  const dia = partes.find(p => p.type === 'day').value;\n  return new Date(`${ano}-${mes}-${dia}T00:00:00`);\n}\n\nif (dataConsultaInput) {\n  const [, mes, dia] = dataConsultaInput.split('-');\n  const hoje = hojeSaoPaulo();\n  const anoAtual = hoje.getFullYear();\n  let dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T00:00:00`);\n  if (dataCorrigida < hoje) {\n    dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T00:00:00`);\n  }\n  return [{ json: { ...inputData, data_consulta: formatarData(dataCorrigida) } }];\n}\n\nconst diasResultado = [];\nconst hoje = hojeSaoPaulo();\nlet offset = 1;\nwhile (diasResultado.length < 3) {\n  const candidata = new Date(hoje);\n  candidata.setDate(hoje.getDate() + offset);\n  const diaSemana = candidata.getDay(); // 0 = domingo, 6 = sábado\n  if (diaSemana !== 0 && diaSemana !== 6) {\n    diasResultado.push({ json: { ...inputData, data_consulta: formatarData(candidata) } });\n  }\n  offset++;\n}\nreturn diasResultado;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          -80
        ],
        "id": "7fd12545-178a-4af6-9869-0fcf58c8a9d9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const inicioReuniaoOriginal = $('When Executed by Another Workflow').first().json.inicio_reuniao;\nconst assunto = $('When Executed by Another Workflow').first().json.assunto;\n\nconst dataObjOriginal = new Date(inicioReuniaoOriginal);\nconst mes = String(dataObjOriginal.getMonth() + 1).padStart(2, '0');\nconst dia = String(dataObjOriginal.getDate()).padStart(2, '0');\nconst hora = String(dataObjOriginal.getHours()).padStart(2, '0');\nconst minuto = String(dataObjOriginal.getMinutes()).padStart(2, '0');\n\nconst hoje = new Date();\nconst anoAtual = hoje.getFullYear();\n\nlet dataCorrigida = new Date(`${anoAtual}-${mes}-${dia}T${hora}:${minuto}:00`);\n\nconst hojeSemHora = new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate());\nconst dataCorrigidaSemHora = new Date(dataCorrigida.getFullYear(), dataCorrigida.getMonth(), dataCorrigida.getDate());\n\nif (dataCorrigidaSemHora < hojeSemHora) {\n  dataCorrigida = new Date(`${anoAtual + 1}-${mes}-${dia}T${hora}:${minuto}:00`);\n}\n\nconst anoFinal = dataCorrigida.getFullYear();\nconst data = `${anoFinal}-${mes}-${dia}`;\nconst horaFinal = `${hora}:${minuto}`;\n\nreturn [{\n  json: {\n    lead_id: $('BuscarLeadId').first().json.id,\n    data,\n    hora: horaFinal,\n    assunto: assunto || null,\n    observacoes: null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          -416
        ],
        "id": "56402b26-ba91-4948-86e5-4128256f4291",
        "name": "SepararDataHora"
      },
      {
        "parameters": {
          "jsCode": "const todosOsDias = $input.all().map(item => item.json);\nconst resumo = todosOsDias\n  .filter(dia => dia.data)\n  .map(dia => ({\n    data: dia.data,\n    horarios: dia.slots_disponiveis || []\n  }));\nreturn [{\n  json: {\n    dias_disponiveis: resumo\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          -80
        ],
        "id": "dfbe23bb-b59d-40b7-a82e-a6f38aac947a",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "crm_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "whatsapp_lead",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').first().json.whatsapp_lead }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "data_agendamento",
                "fieldValue": "={{ $json.agendamento.data_hora_inicio }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1696,
          -432
        ],
        "id": "2ef895b8-2937-4a7e-ac42-67367cb06f5e",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "yNRi9WeuGdi3UzON",
            "name": "supabase_cspnexora"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f32dcc2d-3c24-45c5-bcb7-2ad217206c7f",
                "leftValue": "={{ $json.situacao }}",
                "rightValue": "AGENDAMENTO_CRIADO",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1440,
          -416
        ],
        "id": "f3c72723-c5b5-4045-a850-e24e5bae8f24",
        "name": "If"
      }
    ],
    "connections": {
      "BuscarLeadId": {
        "main": [
          [
            {
              "node": "SepararDataHora",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "BuscarLeadId",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "BuscarLeadIdReagendamento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Authorization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BuscarLeadIdReagendamento": {
        "main": [
          [
            {
              "node": "SepararDataHoraReagendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SepararDataHoraReagendamento": {
        "main": [
          [
            {
              "node": "HTTP Request Reagendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SepararDataHora": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "CSP Nexora",
    "name": "Version 57716a1b",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-15T13:48:58.827Z",
        "id": 123,
        "workflowId": "HlsbghQRkVelOyLi",
        "versionId": "57716a1b-0aa2-4605-a503-8d9b42cadc0b",
        "event": "activated",
        "userId": "6b27285f-0a21-4f4d-bc94-0a76cc04a047"
      }
    ]
  }
}
